<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ragtag.boardhub.repository.CommunityMapper">



    <!-- 인서트 리뷰 1번 , 중고거래 2번, 공략 3번 , 메이트 4번 -->
    <insert id="addCommunityWithReview" parameterType="com.ragtag.boardhub.domain.Community">
        <selectKey keyProperty="comm_id" resultType="java.lang.Long" order="BEFORE">
            SELECT comm_id_seq.NEXTVAL FROM dual
        </selectKey>

        <![CDATA[
        INSERT INTO community (comm_id, title, content, count, type, regdate, user_id, category)
        VALUES (#{comm_id}, #{title}, #{content, jdbcType=VARCHAR}, 0, 1, sysdate, #{user_id}, #{category})
        ]]>
    </insert>

    <!-- 리뷰 테이블에 카테고리 추가 -->
    <insert id="addReview" parameterType="com.ragtag.boardhub.domain.Review">
        INSERT INTO review (comm_id, category)
        VALUES (#{comm_id}, #{category})
    </insert>

        <!-- COMMUNITY 테이블에 데이터 추가 -->
    <insert id="addCommunityWithTrade" parameterType="com.ragtag.boardhub.domain.Community">
        <selectKey keyProperty="comm_id" resultType="java.lang.Long" order="BEFORE">
            SELECT comm_id_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
        INSERT INTO community (comm_id, title, content, count, type, regdate, user_id, category)
        VALUES (#{comm_id}, #{title}, #{content, jdbcType=VARCHAR}, 0, 2, sysdate, #{user_id}, #{category})
        ]]>
    </insert>


    <!-- 중고거래 테이블에 카테고리 추가 -->
   <insert id="addTrade" parameterType="com.ragtag.boardhub.domain.Trade">
    INSERT INTO trade (comm_id, category)
    VALUES (#{comm_id}, #{category})
   </insert>

            <!-- COMMUNITY 테이블에 데이터 추가 -->
        <insert id="addCommunityWithSolution" parameterType="com.ragtag.boardhub.domain.Community">
        <selectKey keyProperty="comm_id" resultType="java.lang.Long" order="BEFORE">
            SELECT comm_id_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
        INSERT INTO community (comm_id, title, content, count, type, regdate, user_id, category)
        VALUES (#{comm_id}, #{title}, #{content, jdbcType=VARCHAR}, 0, 3, sysdate, #{user_id}, #{category})
        ]]>
    </insert>

    <insert id="addSolution" parameterType="com.ragtag.boardhub.domain.Solution">
        INSERT INTO trade (comm_id, category)
        VALUES (#{comm_id}, #{category})
    </insert>


    <insert id="addCommunityWithMate" parameterType="com.ragtag.boardhub.domain.Community">
        <selectKey keyProperty="comm_id" resultType="java.lang.Long" order="BEFORE">
            SELECT comm_id_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
        INSERT INTO community (comm_id, title, content, count, type, regdate, user_id, category)
        VALUES (#{comm_id}, #{title}, #{content, jdbcType=VARCHAR}, 0, 4, sysdate, #{user_id}, #{category})
        ]]>
    </insert>

   <insert id="addMate" parameterType="com.ragtag.boardhub.domain.Mate">
    INSERT INTO mate (comm_id, category)
    VALUES (#{comm_id}, #{category})
   </insert>


    <!-- show -->

    <select id="showReview" resultType="com.ragtag.boardhub.domain.Community">
        SELECT c.*, u.nickname FROM community c join users u  on c.user_id = u.user_id  WHERE type = 1
    </select>

    <select id="showTrade" resultType="com.ragtag.boardhub.domain.Community">
        SELECT c.*, u.nickname FROM community c join users u  on c.user_id = u.user_id WHERE type = 2
    </select>

    <select id="showSolution" resultType="com.ragtag.boardhub.domain.Community">
        SELECT c.*, u.nickname FROM community c join users u  on c.user_id = u.user_id WHERE type = 3
    </select>

    <select id="showMate" resultType="com.ragtag.boardhub.domain.Community">
        SELECT c.*, u.nickname FROM community c join users u  on c.user_id = u.user_id WHERE type = 4
    </select>



    <insert id="insertImgName" parameterType="com.ragtag.boardhub.domain.CommunityImg">
        <selectKey keyProperty="img_id" resultType="java.lang.Long" order="BEFORE">
            SELECT img_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO img_url (img_id, filename)
        VALUES (#{img_id}, #{filename})
    </insert>

    <select id="showReviewDetail" resultType="com.ragtag.boardhub.domain.Community">
        SELECT * FROM community WHERE type = 1 and comm_id = #{comm_id}
    </select>

    <select id="showTradeDetail" resultType="com.ragtag.boardhub.domain.Community">
        SELECT * FROM community WHERE type = 2 and comm_id = #{comm_id}
    </select>

    <select id="showSolutionDetail" resultType="com.ragtag.boardhub.domain.Community">
        SELECT * FROM community WHERE type = 3 and comm_id = #{comm_id}
    </select>

    <select id="showMateDetail" resultType="com.ragtag.boardhub.domain.Community">
        SELECT * FROM community WHERE type = 4 and comm_id = #{comm_id}
    </select>

    <update id="likeReview">
        UPDATE community
        SET likes = likes + 1
        WHERE comm_id = #{comm_id}
    </update>

    <update id="upViews">
        UPDATE community
        SET count = count + 1
        WHERE comm_id = #{comm_id}
    </update>


    <delete id="deleteCommunity">
        DELETE community WHERE comm_id = #{comm_id}
    </delete>



</mapper>