<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ragtag.boardhub.repository.ReplyMapper">

    <insert id="addReplyWithReview" parameterType="com.ragtag.boardhub.domain.Reply">
        <selectKey keyProperty="reply_id" resultType="java.lang.Long" order="BEFORE">
            SELECT reply_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO reply (reply_id, r_group, r_step, r_level, content, user_id, comm_id, regdate)
        VALUES (#{reply_id}, #{r_group}, #{r_step}, #{r_level}, #{content}, #{user_id}, #{comm_id}, sysdate)
    </insert>

    <select id="getRepliesByCommId" resultType="com.ragtag.boardhub.domain.Reply">
        SELECT * FROM reply WHERE comm_id = #{comm_id}
    </select>

</mapper>