<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ragtag.boardhub.repository.ReviewMapper">
    <insert id="addReview" parameterType="com.ragtag.boardhub.domain.Review">
        <selectKey keyProperty="comm_id" resultType="java.lang.Long" order="BEFORE">
            SELECT comm_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO community (comm_id, title, content, count, type, regdate, user_id)
        VALUES (#{comm_id}, #{title}, #{content}, 1, 1, sysdate, 1)
    </insert>

</mapper>